body{
   
    cursor: url("../Asserts/cursor.png"), auto;
}

.games {
    width: 300px;
    height: 650px;
    margin-top: 20px;
    background-color: rgb(41, 41, 41);
    margin-left: 28px;
    border-radius: 10px;
    margin-top:80px;
    position: relative;
}
.fixed{
    position: fixed;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.games::after ,.games::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate:-50% -50%;
    background-image: conic-gradient(from var(--angle),transparent 60%,red,rgb(19, 130, 19),rgb(98, 255, 242),blue);
    z-index: -1; 
        padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.games::before{
    filter: blur(1.9rem);
    opacity:0.7;

}

@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}

@keyframes appear{
    from{
        opacity: 0;
       transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }

}
.slider-nav{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}
.slider-nav h3{
font-size: 24px;
display: flex;
align-items: center;
justify-content:center ;    
font-family: serif;
font-weight: 600;
}
.slider{
    display: flex;
    align-items: start;
    width: 100%;
    height: 400vh;
    margin-bottom: 50px;
   

}
.search-bar{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:43%;

}
.search-bar input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: rgb(58, 58, 58);
    color: white;
    
    border: none;
    height: 60px;
    font-family: monospace;
    font-size: 20px;
    border-radius: 30px;

}
.search-bar::before {
    content: url('../Asserts/searchInput.png'); 
    position: absolute;
    left: 470px;
    top: 47%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px;
  }
  .search-bar input::placeholder{
    padding-left: 20px;
  }

.heading1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: monospace;
    font-size: 25px;
    padding: 10px;
    color: white;



}

.gamelist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 23px;
    font-family: monospace;
    padding: 17px;
    cursor: pointer;
    
    
    
}
p{
    font-weight: 400;
    padding: 15px;
}

.number{
    background-color: rgb(232, 232, 232);
    margin-bottom: 15px;
    width: 185px;
    border-radius: 9px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 20px;
    font-family: monospace;


}
.number:hover{
border: 1.5px solid rgb(8, 0, 250);    
background-color:  rgb(222, 220, 220);
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    color: bisque;
    width: 1310px;
    height: 600px;
    position: absolute;
    margin-left: 330px;
    margin-top: 90px;
    flex-wrap: wrap;
    gap: 40px;
}
.item1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 280px;
margin-bottom: 30px;
font-size: 20px;
margin-top: 30px;
cursor: pointer;

}
.item1 img{
    height: 430px;
    width: 280px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.3 ease ;
}
.item1 img:hover{
    opacity: 0.7;
}
.price{
    display: flex;
    margin-left: 10px;

}
.footer1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0px;
}
.oldprice{
    text-decoration-line: line-through;
    opacity: 0.5;
}
.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 40px;
    background-color: rgb(0, 212, 245);
    color: #000;
    font-size: 20px;
    border-radius: 28px;
}
.offer p{
    font-weight:550;

}

.setting{
    margin-left: 1400px;
    position: absolute;
}
.name p{
padding-top: 8px;
padding-left: 1px;
font-family:sans-serif;


}
.heading2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: monospace;
    font-size: 25px;
margin-bottom: 30px;

}