.loginSignUp{
width: 100%;
height: 80vh;
background :#fce3fe ;
padding-top: 50px;
padding-bottom: 50px;
}
.loginSignUp-con{
    width: 580px;
    height: 700px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    margin-bottom: 40px;

}
.loginSignUp-con h1{
    margin: 20px 0px;
    color: #000;
}
.loginSignUp-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginSignUp-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid wheat;
    outline: none;
    color: rgb(135, 133, 130);
    font-size: 18px;
}
.loginSignUp-con button {
    width: 470px;
    height: 72px;
    color: white;
    background-color: rgb(228, 83, 83);
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.logsu-login{
    margin-top: 20px;
    color: #464343;
    font-size: 18px;
    font-weight: 500;
}
.logsu-login span{
    color: red;
    font-weight: 600;

}
.logsu-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #555353;
    font-size: 18px;
    font-weight: 500;
}