
.control-panel{
    margin: 0;
    margin-top: 80px;
}
.adminimg{
    height: 60px;
    width: 60px;
    position: absolute;
    right: 1rem;
}
.navAdmin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 10px;
    top: 1rem;

   
}
.adminimg{
    position: absolute;
    top: 30px;
    right: 1rem;

}
.admintext{
    position: absolute;
    top: 10px;
   

}
