.vanta-container{
    height: 100vh; /* Full viewport height */
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: 0x27142;
    color:aqua;
    
  
  }
.search{
  position: absolute;
  top: 20%; /* Adjust position as needed */
  left: 1%;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}
.search img{
  width: 50px;
    height: 50px;
}