
.shop-now-sec {
    position: relative;
    top: 13%;
    color: #000;
    transition: 0.5s;
    padding: 30px;
    margin-left: 88%;
  }
  .shop-now-sec p {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    width: 144px;
    border: 2px solid black;
    background-image: linear-gradient(to right, rgb(190, 9, 175), rgb(35, 185, 152));
    border-radius: 12px;
    font-weight: 500;
    font-family: monospace;
    color: #000;
    font-size: 25px;
    transition: 0.8s;
    transform-origin: center;
    will-change: transform;
  }
  
  .shop-now-sec:hover {
    font-size: 25px;
    border-radius: 12px;
  
  
    transform: scale(1.02);
  }
  .shop-now-sec p:hover
  {
    background-image: linear-gradient(to right, rgb(25, 195, 166), rgb(190, 49, 176));
  
    color: rgb(0, 0, 0);
    
  
  }
  .about-c{
    font-size: 23px;
  color: #f3f3f3;
    line-height: 27px;
    font-family: monospace;
  }
  .about-con{
    width: 100%;
    background-color: rgb(30, 33, 31);
    padding-top: 80px;

  }